.row{
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.row td{
    padding: 20px 30px;

}

.name{
    color: #5156be;
    font-size: 1.1rem;
    border-right: 0.5px dashed #5156be;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.actions button{
    background-color: white;
    color:#5156be;
    border: none;
    margin: 0;
    cursor: pointer;
}   


.actions select{
    font-size: 1rem;
    border-radius: 8px;
    padding: 5px;
}

.priority{
    display: flex;
    flex-direction: column;
}

.priority p{
    font-size: 0.8rem;
    margin: 0;
    margin-left: 20%;
    color: #5156be;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .row td{
        padding: 8px 10px;
    }
}