.boxs {
  padding: 40px;
  border-radius: 6px;
  position: fixed;
  top: 100px;
  height: 420px;
  background-color: #f4f5ff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  z-index: 100;
}
.inputs {
  display: flex;
  flex-direction: column;
  padding: 25px;
 
}
.form-group {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
 
}

.form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  text-align: center;
  border-radius:5px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid black;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
